1. Crie uma tupla chamada cidades que contenha os nomes de cinco cidades. Imprima a terceira cidade.

In [1]:
cidades = ("São Paulo", "Rio de Janeiro", "Belo Horizonte", "Curitiba", "Porto Alegre")

print(cidades[2])

Belo Horizonte

2. Crie uma tupla chamada numeros com os seguintes valores: (1, 2, 3, 1, 4, 1). Utilize o método count() para contar quantas vezes o número 1 aparece na tupla.

In [3]:
numeros = (1, 2, 3, 1, 4, 1)

num1 = numeros.count(1)

print(f"O número 1 aparece {num1} vezes")

O número 1 aparece 3 vezes

3. Crie uma tupla chamada animais com os seguintes valores: ('cachorro', 'gato', 'pássaro'). Verifique se 'gato' está na tupla e imprima uma mensagem informando o resultado.

In [6]:
animais = ('cachorro', 'gato', 'pássaro')

if 'gato' in animais:
    print(f"O animal 'gato' está na tupla.")
else:
    print("O animal 'gato' não está na tupla.")

O animal 'gato' está na tupla.

4. Dada a tupla meses = ('janeiro', 'fevereiro', 'março', 'abril', 'maio'), encontre e imprima o índice do mês 'abril'.

In [7]:
meses = ('janeiro', 'fevereiro', 'março', 'abril', 'maio')

indice = meses.index('abril')

print("O índice do mês 'abril' é:", indice)

O índice do mês 'abril' é: 3

5. Crie uma tupla chamada coordenadas que armazene a latitude e longitude de um local (ex: (-23.5505, -46.6333)). Imprima a latitude e a longitude separadamente.

In [8]:
coordenadas = (-23.5505, -46.6333)

latitude = coordenadas[0]
longitude = coordenadas[1]


print("Latitude:", latitude)
print("Longitude:", longitude)

Latitude: -23.5505
Longitude: -46.6333

6. Crie um dicionário chamado carro com as chaves marca, modelo e ano. Atribua valores de sua escolha e imprima o modelo do carro.

In [10]:
carro1 = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2022
}

carro2 = {
    "marca": "Ford",
    "modelo": "Mustang",
    "ano": 2021
}

carro3 = {
    "marca": "Chevrolet",
    "modelo": "Camaro",
    "ano": 2023
}

print("Modelo do carro 1:", carro1.get("modelo"))
print("Modelo do carro 2:", carro2.get("modelo"))
print("Modelo do carro 3:", carro3.get("modelo"))

Modelo do carro 1: Corolla
Modelo do carro 2: Mustang
Modelo do carro 3: Camaro

7. Use o dicionário carro que você criou no exercício anterior. Adicione uma nova chave chamada cor e atribua uma cor ao carro. Em seguida, imprima o dicionário completo.

In [12]:
carro1 = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2022
}

carro2 = {
    "marca": "Ford",
    "modelo": "Mustang",
    "ano": 2021
}

carro3 = {
    "marca": "Chevrolet",
    "modelo": "Camaro",
    "ano": 2023
}

carro1["cor"] = "preto"
carro2["cor"] = "vermelho"
carro3["cor"] = "amarelo"

print("Carro 1:", carro1)
print("Carro 2:", carro2)
print("Carro 3:", carro3)

Carro 1: {'marca': 'Toyota', 'modelo': 'Corolla', 'ano': 2022, 'cor': 'preto'}
Carro 2: {'marca': 'Ford', 'modelo': 'Mustang', 'ano': 2021, 'cor': 'vermelho'}
Carro 3: {'marca': 'Chevrolet', 'modelo': 'Camaro', 'ano': 2023, 'cor': 'amarelo'}

8. Dado o dicionário pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}, remova a chave idade e imprima o dicionário resultante.

In [14]:
pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}

pessoa.pop('idade')

print(pessoa)

{'nome': 'João', 'cidade': 'São Paulo'}

9. Crie um dicionário chamado produto que contenha nome, preco e quantidade. Use um loop for para imprimir todos os pares chave/valor.

In [15]:
produtos = [
    {
        "nome": "Camiseta",
        "preco": 49.90,
        "quantidade": 10
    },
    {
        "nome": "Tênis",
        "preco": 199.90,
        "quantidade": 15
    },
    {
        "nome": "Smartphone",
        "preco": 1500.00,
        "quantidade": 8
    },
    {
        "nome": "Relógio",
        "preco": 350.00,
        "quantidade": 20
    },
    {
        "nome": "Bicicleta",
        "preco": 800.00,
        "quantidade": 5
    },
    {
        "nome": "Liquidificador",
        "preco": 299.90,
        "quantidade": 12
    }
]

for produto in produtos:
    print("Produto:")
    for chave, valor in produto.items():
        print(f"{chave}: {valor}")
    print()

Produto:
nome: Camiseta
preco: 49.9
quantidade: 10

Produto:
nome: Tênis
preco: 199.9
quantidade: 15

Produto:
nome: Smartphone
preco: 1500.0
quantidade: 8

Produto:
nome: Relógio
preco: 350.0
quantidade: 20

Produto:
nome: Bicicleta
preco: 800.0
quantidade: 5

Produto:
nome: Liquidificador
preco: 299.9
quantidade: 12

10. Dado o dicionário estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}, verifique se a chave curso existe. Se existir, imprima "A estudante está no curso de Biologia."

In [16]:
estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}

if 'curso' in estudante:
    print("A estudante está no curso de Biologia.")

A estudante está no curso de Biologia.