1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2. O resultado deve mostrar o novo valor de cada elemento, um por vez.

In [2]:
numeros = [3, 7, 1, 5, 9]

for numero in numeros:
    novo_valor = numero * 2
    print(f"O número antigo era {numero} e agora multiplicado ficou {novo_valor}.")

O número antigo era 3 e agora multiplicado ficou 6.
O número antigo era 7 e agora multiplicado ficou 14.
O número antigo era 1 e agora multiplicado ficou 2.
O número antigo era 5 e agora multiplicado ficou 10.
O número antigo era 9 e agora multiplicado ficou 18.

2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar. Depois, mostre a nova lista atualizada com as alterações feitas.

In [4]:
frutas = ["maçã", "banana", "laranja", "uva"]

frutas.remove("banana")

frutas.append("melancia")

print("A lista de frutas foi atualizada:")
print(frutas)

A lista de frutas foi atualizada:
['maçã', 'laranja', 'uva', 'melancia']

3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista. Certifique-se de mostrar ambos os valores ao final.

In [5]:
numeros = [10, 5, 3, 8, 15]

if numeros:

    maior = max(numeros)
    menor = min(numeros)

    print(f"O maior número da lista é {maior}.")
    print(f"O menor número da lista é {menor}.")
else:
    print("A lista está vazia.")

O maior número da lista é 15.
O menor número da lista é 3.

4. Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.

In [6]:
def contar_letras(palavras):
    return [len(palavra) for palavra in palavras]

lista_de_palavras = ["maçã", "banana", "laranja", "uva", "melancia"]

quantidade_letras = contar_letras(lista_de_palavras)

for palavra, quantidade in zip(lista_de_palavras, quantidade_letras):
    print(f"A palavra '{palavra}' possui {quantidade} letras.")

A palavra 'maçã' possui 4 letras.
A palavra 'banana' possui 6 letras.
A palavra 'laranja' possui 7 letras.
A palavra 'uva' possui 3 letras.
A palavra 'melancia' possui 8 letras.

5. Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada.

In [7]:
numeros = [12, 5, 3, 8, 15, 2, 10]

numeros_ordenados = sorted(numeros)

print("A lista ordenada em ordem crescente é:")

print(numeros_ordenados)

A lista ordenada em ordem crescente é:
[2, 3, 5, 8, 10, 12, 15]

6. Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece. No final, explique por que você conseguiu ou não modificar o valor.

In [9]:
tupla = (1, 2, 3, 4, 5)

try:
    tupla[1] = 10
except TypeError as e:
    print(e)

print(tupla)

'tuple' object does not support item assignment
(1, 2, 3, 4, 5)

7. Escreva um programa que receba uma tupla contendo diversos números inteiros. O programa deve calcular e exibir a soma de todos os números presentes na tupla.

In [10]:
tupla = (1, 2, 3, 4, 5)

soma = sum(tupla)

print("A soma de todos os números na tupla é:")
print(soma)

A soma de todos os números na tupla é:
15

8. Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla. O programa deve imprimir ambos os valores corretamente.

In [11]:
def primeiro_e_ultimo(tupla):
    return tupla[0], tupla[-1]

tupla = (10, 20, 30, 40, 50)

primeiro, ultimo = primeiro_e_ultimo(tupla)

print(f"O primeiro número da tupla é: {primeiro}")
print(f"O último número da tupla é: {ultimo}")

O primeiro número da tupla é: 10
O último número da tupla é: 50

9. Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado. O programa deve deixar claro que o tipo mudou de lista para tupla.

In [12]:
lista = ["a", "b", "c", "d"]

tupla = tuple(lista)

print("A lista foi convertida em uma tupla.")
print(f"O novo objeto é do tipo: {type(tupla)}")

A lista foi convertida em uma tupla.
O novo objeto é do tipo: <class 'tuple'>

10. Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e mostre uma mensagem dizendo se o número foi encontrado ou não.

In [13]:
tupla = (1, 2, 3, "texto")

if 3 in tupla:
    print("O número 3 foi encontrado na tupla.")
else:
    print("O número 3 não foi encontrado na tupla.")

O número 3 foi encontrado na tupla.

11. Crie dois sets: set1 = {1, 2, 3, 4} e set2 = {3, 4, 5, 6}. Exiba a união dos dois sets (todos os elementos sem repetição), a interseção (elementos que aparecem nos dois sets) e a diferença (elementos presentes no primeiro set, mas não no segundo). Mostre os resultados de cada operação.

In [14]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

uniao = set1 | set2
interseccao = set1 & set2
diferenca = set1 - set2

print("União dos sets:", uniao)
print("Interseção dos sets:", interseccao)
print("Diferença do set1 em relação ao set2:", diferenca)

União dos sets: {1, 2, 3, 4, 5, 6}
Interseção dos sets: {3, 4}
Diferença do set1 em relação ao set2: {1, 2}

12. Dada a lista [1, 2, 2, 3, 4, 4, 5], remova os elementos duplicados transformando a lista em um set. Ao final, exiba o set resultante, que deve conter apenas valores únicos.

In [15]:
lista = [1, 2, 2, 3, 4, 4, 5]

set_resultante = set(lista)

print("O set resultante com valores únicos é:", set_resultante)

O set resultante com valores únicos é: {1, 2, 3, 4, 5}

13. Crie um set contendo os valores {5, 10, 15, 20}. Adicione o número 25 a esse set e depois remova o valor 15. Mostre o set após cada alteração.

In [16]:
set_valores = {5, 10, 15, 20}

print("Set inicial:", set_valores)

set_valores.add(25)
print("Após adicionar 25:", set_valores)

set_valores.remove(15)
print("Após remover 15:", set_valores)

Set inicial: {10, 20, 5, 15}
Após adicionar 25: {5, 10, 15, 20, 25}
Após remover 15: {5, 10, 20, 25}

14. Verifique se o número 7 está presente no set {1, 2, 3, 4, 5}. O programa deve exibir uma mensagem informando se o número foi encontrado ou não no set.

In [17]:
conjunto = {1, 2, 3, 4, 5}

if 7 in conjunto:
    print("O número 7 foi encontrado no set.")
else:
    print("O número 7 não foi encontrado no set.")

O número 7 não foi encontrado no set.

15. Crie um set vazio e adicione vários valores a ele usando um laço de repetição (por exemplo, um for ou while). No final, mostre todos os valores armazenados no set.

In [19]:
set_vazio = set()

for i in range(1, 6):
    set_vazio.add(i)

print("Os valores armazenados no set são:", set_vazio)

Os valores armazenados no set são: {1, 2, 3, 4, 5}

16. Crie um dicionário com os pares chave-valor 'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'. Adicione uma nova chave 'universidade': 'USP' ao dicionário. Em seguida, exiba o dicionário completo com todas as informações.

In [21]:
dicionarios = {
    'pessoa1': {
        'nome': 'Ana',
        'idade': 22,
        'curso': 'Engenharia',
        'universidade': 'USP'
    },
    'pessoa2': {
        'nome': 'Carlos',
        'idade': 25,
        'curso': 'Medicina',
        'universidade': 'Unifesp'
    },
    'pessoa3': {
        'nome': 'Mariana',
        'idade': 20,
        'curso': 'Arquitetura',
        'universidade': 'FAU'
    },
    'pessoa4': {
        'nome': 'Ricardo',
        'idade': 23,
        'curso': 'Direito',
        'universidade': 'PUC'
    },
    'pessoa5': {
        'nome': 'Fernanda',
        'idade': 21,
        'curso': 'Psicologia',
        'universidade': 'UFMG'
    }
}

print("Dicionário completo com todas as informações:\n")

for pessoa, info in dicionarios.items():
    print(f"{info['nome']} (Idade: {info['idade']})")
    print(f"  Curso: {info['curso']}")
    print(f"  Universidade: {info['universidade']}\n")

Dicionário completo com todas as informações:

Ana (Idade: 22)
  Curso: Engenharia
  Universidade: USP

Carlos (Idade: 25)
  Curso: Medicina
  Universidade: Unifesp

Mariana (Idade: 20)
  Curso: Arquitetura
  Universidade: FAU

Ricardo (Idade: 23)
  Curso: Direito
  Universidade: PUC

Fernanda (Idade: 21)
  Curso: Psicologia
  Universidade: UFMG

17. Escreva um programa que percorra um dicionário com várias chaves e valores. Para cada par, imprima a chave e o valor no formato: Chave: X, Valor: Y. O dicionário pode conter qualquer informação que você preferir.

In [23]:
dados = {
    'pessoa1': {
        'nome': 'Ana',
        'idade': 22,
        'curso': 'Engenharia',
        'universidade': 'USP'
    },
    'pessoa2': {
        'nome': 'Carlos',
        'idade': 25,
        'curso': 'Medicina',
        'universidade': 'Unifesp'
    },
    'pessoa3': {
        'nome': 'Mariana',
        'idade': 20,
        'curso': 'Arquitetura',
        'universidade': 'FAU'
    },
    'pessoa4': {
        'nome': 'Ricardo',
        'idade': 23,
        'curso': 'Direito',
        'universidade': 'PUC'
    }
}

print("Percorrendo o dicionário:\n")

for pessoa, info in dados.items():
    for chave, valor in info.items():
        print(f"Chave: {chave}, Valor: {valor}")
    print()

Percorrendo o dicionário:

Chave: nome, Valor: Ana
Chave: idade, Valor: 22
Chave: curso, Valor: Engenharia
Chave: universidade, Valor: USP

Chave: nome, Valor: Carlos
Chave: idade, Valor: 25
Chave: curso, Valor: Medicina
Chave: universidade, Valor: Unifesp

Chave: nome, Valor: Mariana
Chave: idade, Valor: 20
Chave: curso, Valor: Arquitetura
Chave: universidade, Valor: FAU

Chave: nome, Valor: Ricardo
Chave: idade, Valor: 23
Chave: curso, Valor: Direito
Chave: universidade, Valor: PUC

18. Crie um dicionário que relacione nomes de alunos às suas notas. Depois, crie uma função que calcule e exiba a média das notas desses alunos com base nas informações do dicionário.

In [24]:
alunos_notas = {
    'Ana': 8.5,
    'Carlos': 7.0,
    'Mariana': 9.5,
    'Ricardo': 6.5,
    'Fernanda': 8.0
}

def calcular_media(notas):
    media = sum(notas.values()) / len(notas)
    return media

media_alunos = calcular_media(alunos_notas)

print(f"A média das notas dos alunos é: {media_alunos:.2f}")

A média das notas dos alunos é: 7.90

19. Escreva um programa que permita ao usuário buscar o valor de uma chave específica em um dicionário. Caso a chave não exista, o programa deve exibir uma mensagem dizendo que a chave não foi encontrada. Teste o programa com diferentes chaves.

In [30]:
dicionario = {
    'pessoa1': {
        'nome': 'Ana',
        'idade': 22,
        'curso': 'Engenharia',
        'universidade': 'USP'
    },
    'pessoa2': {
        'nome': 'Carlos',
        'idade': 25,
        'curso': 'Medicina',
        'universidade': 'Unifesp'
    },
    'pessoa3': {
        'nome': 'Mariana',
        'idade': 20,
        'curso': 'Arquitetura',
        'universidade': 'FAU'
    }
}


chaves_teste = ['pessoa1', 'pessoa2', 'pessoa3', 'pessoa4']

for chave in chaves_teste:
    resultado = dicionario.get(chave)

    if resultado is not None:
        print(f"Chave: {chave}")
        for sub_chave, valor in resultado.items():
            print(f"  {sub_chave}: {valor}")
        print()
    else:
        print(f"A chave '{chave}' não foi encontrada.")

Chave: pessoa1
  nome: Ana
  idade: 22
  curso: Engenharia
  universidade: USP

Chave: pessoa2
  nome: Carlos
  idade: 25
  curso: Medicina
  universidade: Unifesp

Chave: pessoa3
  nome: Mariana
  idade: 20
  curso: Arquitetura
  universidade: FAU

A chave 'pessoa4' não foi encontrada.

20. Dado um dicionário que contém produtos e seus respectivos preços, como {'pão': 2.50, 'leite': 3.00, 'café': 4.50}, permita que o usuário altere o preço de um dos produtos e exiba o dicionário atualizado com o novo valor.

In [33]:
produtos = {
    'pão': 2.50,
    'leite': 3.00,
    'café': 4.50
}

produto_alterar = 'café'
novo_preco = 5.00

if produto_alterar in produtos:
    preco_antigo = produtos[produto_alterar]
    produtos[produto_alterar] = novo_preco
    print(f"O preço do {produto_alterar} foi alterado de R$ {preco_antigo:.2f} para R$ {novo_preco:.2f}.")
else:
    print(f"O produto '{produto_alterar}' não foi encontrado.")

print("\nDicionário atualizado:")
for produto, preco in produtos.items():
    print(f"{produto}: R$ {preco:.2f}")

O preço do café foi alterado de R$ 4.50 para R$ 5.00.

Dicionário atualizado:
pão: R$ 2.50
leite: R$ 3.00
café: R$ 5.00